@import 'mixins.module';
@import 'varaiable.module';

.faq {
    &__List {
        padding: 0 100px;

        @include breakpoint (lgm) {
            padding: 0;
        }

        p {
            margin-bottom: 0;
            padding: 10px 0 0 0;
        }

        button {
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            outline: none;
            cursor: pointer;
            background: none !important;
            outline: none;
            box-shadow: none !important;
            padding: 0;
            color: #212529;
            svg {
                margin-right: 7px;
            }

            &:hover {
                color: #47b2e4;
            }
        }

    }


    span {
        color: #47b2e4;
        font-weight: 600;
        font-size: 18px;
        padding-right: 10px;
    }
}
