@import 'mixins.module.scss';
@import 'varaiable.module.scss';

#footer {
    font-size: 14px;
    background: #37517e;

    .footerNewsletter {
        padding: 50px 0;
        background: #f3f5fa;
        text-align: center;
        font-size: 15px;
        color: #444444;

        h4 {
            font-size: 24px;
            margin: 0 0 20px 0;
            padding: 0;
            line-height: 1;
            font-weight: 600;
            color: #37517e;
        }

        form {
            margin-top: 30px;
            background: #fff;
            padding: 6px 10px;
            position: relative;
            border-radius: 50px;
            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
            text-align: left;

            input {
                &[type=email] {
                    border: 0;
                    padding: 4px 8px;
                    width: calc(100% - 100px);
                }

                &[type=submit] {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    border: 0;
                    background: none;
                    font-size: 16px;
                    padding: 0 20px;
                    background: #47b2e4;
                    color: #fff;
                    transition: 0.3s;
                    border-radius: 50px;
                    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);

                    &:hover {
                        background: #209dd8;
                    }
                }
            }
        }
    }

    .footerTop {
        padding: 60px 0 30px 0;
        background: #fff;

        h4 {
            font-size: 16px;
            font-weight: bold;
            color: #37517e;
            position: relative;
            padding-bottom: 12px;
        }

        .footerLinks {
            margin-bottom: 30px;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                i {
                    padding-right: 2px;
                    color: #47b2e4;
                    font-size: 18px;
                    line-height: 1;
                }

                a {
                    color: #777777;
                    transition: 0.3s;
                    display: inline-block;
                    line-height: 1;

                    &:hover {
                        text-decoration: none;
                        color: #47b2e4;
                    }
                }

                li {
                    padding: 10px 0;
                    display: flex;
                    align-items: center;

                    &:first-child {
                        padding-top: 0;
                    }
                }
            }
        }

        .socialLinks {
            a {
                font-size: 18px;
                display: inline-flex;
                background: #47b2e4;
                color: #fff;
                margin-right: 4px;
                border-radius: 50%;
                text-align: center;
                width: 36px;
                height: 36px;
                transition: 0.3s;
                justify-content: center;
                align-items: center;

                &:hover {
                    background: #209dd8;
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }

    .footerContact {
        margin-bottom: 30px;

        h3 {
            font-size: 28px;
            margin: 0 0 10px 0;
            padding: 2px 0 2px 0;
            line-height: 1;
            text-transform: uppercase;
            font-weight: 600;
            color: #37517e;
        }

        p {
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 0;
            font-family: "Jost", sans-serif;
            color: #5e5e5e;

            a {
                color: #5e5e5e;

                &:hover {
                    color: #47b2e4;
                }
            }
        }
    }

    .footerBottom {
        padding-top: 30px;
        padding-bottom: 30px;
        color: #fff;

        @include breakpoint (xs) {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    .copyright,
    .credits {
        text-align: center;
        float: none;
    }

    .copyright {
        float: left;
    }

    .credits {
        float: right;
        font-size: 13px;
        padding-top: 4px;

        a {
            transition: 0.3s;
        }
    }
}
