@import 'mixins.module';
@import 'varaiable.module';

.clients {
    padding: 12px 0;
    text-align: center;

    span {
        max-width: 50% !important;
        margin: 15px 0 !important;
        padding: 0 10px !important;
        transition: all 0.4s ease-in-out;
        filter: grayscale(100);

        @include breakpoint (xs) {
            max-width: 40%;
        }

        &:hover {
            filter: none;
            transform: scale(1.1);
        }

        span {
            max-width: 100% !important;
            margin: 0 !important;
            padding: 0 !important;
        }
    }

}
