@import 'mixins.module';
@import 'varaiable.module';


.pricing {
    .row {
        padding-top: 40px;
    }

    .box {
        padding: 60px 40px;
        box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1);
        background: #fff;
        height: 100%;
        border-top: 4px solid #fff;
        border-radius: 5px;

        @include breakpoint (sm1) {
            max-width: 60%;
            margin: 0 auto 30px auto;
        }

        @include breakpoint (xs) {
            max-width: 80%;
            margin: 0 auto 30px auto;
        }

        @media (max-width: 420px) {
            max-width: 100%;
            margin: 0 auto 30px auto;
        }

    }

    .featured {
        // border-top-color: #47b2e4;
        // padding: 60px 40px;
        // box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1);
        // background: #fff;
        // height: 100%;
        // border-top: 4px solid #fff;
        // border-radius: 5px;
        border-top-color: #47b2e4;

        // @include breakpoint (sm1) {
        //     max-width: 60%;
        //     margin: 0 auto 30px auto;
        // }

        // @include breakpoint (xs) {
        //     max-width: 80%;
        //     margin: 0 auto 30px auto;
        // }

        // @media (max-width: 420px) {
        //     max-width: 100%;
        //     margin: 0 auto 30px auto;
        // }

        .buyBtn {
            background: #47b2e4;
            color: #fff;

            &:hover {
                background: #23a3df;
            }
        }
    }


    h3 {
        font-weight: 500;
        margin-bottom: 15px;
        font-size: 20px;
        color: #37517e;
    }

    h4 {
        font-size: 48px;
        color: #37517e;
        font-weight: 400;
        font-family: "Jost", sans-serif;
        margin-bottom: 25px;

        sup {
            font-size: 28px;
        }

        span {
            color: #47b2e4;
            font-size: 18px;
            display: block;
        }
    }

    ul {
        padding: 20px 0;
        list-style: none;
        color: #999;
        text-align: left;
        line-height: 20px;

        li {
            padding: 10px 0 10px 30px;
            position: relative;

            svg {
                // color: #28a745;
                // font-size: 24px;
                position: absolute;
                left: 0;
                top: 6px;
            }

            &.na {
                color: #ccc;

                span {
                    text-decoration: line-through;
                }
            }
        }
    }

    .buyBtn {
        display: inline-block;
        padding: 12px 35px;
        border-radius: 50px;
        color: #47b2e4;
        transition: none;
        font-size: 16px;
        font-weight: 500;
        font-family: "Jost", sans-serif;
        transition: 0.3s;
        border: 1px solid #47b2e4;

        &:hover {
            background: #47b2e4;
            color: #fff;
        }
    }
}
