@import 'mixins.module';
@import 'varaiable.module';

.team {
    .member {
        position: relative;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        padding: 30px;
        border-radius: 5px;
        background: #fff;
        transition: 0.5s;

        &:hover {
            transform: translateY(-10px);
        }

        h4 {
            font-weight: 700;
            margin-bottom: 5px;
            font-size: 20px;
            color: #37517e;
        }

        span {
            display: block;
            font-size: 15px;
            padding-bottom: 10px;
            position: relative;
            font-weight: 500;

            &::after {
                content: "";
                position: absolute;
                display: block;
                width: 50px;
                height: 1px;
                background: #cbd6e9;
                bottom: 0;
                left: 0;
            }
        }

        .social {
            margin-top: 12px;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            a {
                transition: ease-in-out 0.3s;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50px;
                width: 32px;
                height: 32px;
                background: #eff2f8;

                svg {
                    margin: 0 2px;
                }

                &:hover {
                    background: #47b2e4;

                    svg {
                        color: #ffffff !important;
                        fill: #fff !important;
                    }
                }

                +a {
                    margin-left: 8px;
                }
            }
        }

        p {
            margin: 10px 0 0 0;
            font-size: 14px;
        }

        .pic {
            overflow: hidden;
            width: 180px;
            border-radius: 50%;
        }

        .memberInfo {
            padding-left: 30px;
        }
    }
}


.team .member .pic img {
    transition: ease-in-out 0.3s;
}