$theme-color: #69C2B8;
$primary-color: #8C59A0;
$secondary-color: #C66EA7;
$orange: #EF7D31;
$white: #ffffff;
$black: #000;
$text-color: #313133;
$form-bg: #fafafa;
$label-color: #1A1A1A;

$vwm: 0.3125vw;
$vwt: 0.13020833333333334vw;
$vw: 0.052083333333333336vw;

// .logoSection {

//     .row {
//         margin: 0 -8px;
//         div[class*='col-lg'] {
//             padding: 0 8px;
//         }
//     }
// }

@keyframes pulse-ring {
    0% {
        transform: scale(.33);
    }

    80%,
    100% {
        opacity: 0;
    }
}

@keyframes pulse-dot {
    0% {
        transform: scale(.8);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(.8);
    }
}

// ripple
@keyframes ripple {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
        opacity: 1;
    }

    100% {
        transform: scale(1.6);
        opacity: 0;
    }
}

.circleAnimationPurple {
    &:before {
        content: '';
        position: relative;
        display: block;
        width: 300%;
        height: 300%;
        box-sizing: border-box;
        margin-left: -100%;
        margin-top: -100%;
        border-radius: 50%;
        background: rgba($color: $secondary-color, $alpha: 1);
        animation: pulse-ring 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: rgba($color: $secondary-color, $alpha: 1);
        border-radius: 50%;
        // box-shadow: 0 0 8px rgba(0, 0, 0, .3);
        animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    }
}

.circleAnimationOrange {
    &:before {
        content: '';
        position: relative;
        display: block;
        width: 300%;
        height: 300%;
        box-sizing: border-box;
        margin-left: -100%;
        margin-top: -100%;
        border-radius: 50%;
        background: rgba($color: $orange, $alpha: 1);
        animation: pulse-ring 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: rgba($color: $orange, $alpha: 1);
        border-radius: 50%;
        // box-shadow: 0 0 8px rgba(0, 0, 0, .3);
        animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
    }
}

.rippleAnimation {

    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 1px solid rgba($color: $orange, $alpha: 1);
        border-radius: 50%;
    }


    &:before {
        animation: ripple 2s linear infinite;
    }

    &:after {
        animation: ripple 2s linear 1s infinite;
    }
}
