@import 'mixins.module';
@import 'varaiable.module';

.whyUs {
    .content {
        padding: 60px 100px 0 100px;

        @include breakpoint (md1) {
            padding-left: 0;
            padding-right: 0;
        }

        h3 {
            font-weight: 400;
            font-size: 34px;
            color: #37517e;
        }

        h4 {
            font-size: 20px;
            font-weight: 700;
            margin-top: 5px;
        }

        p {
            font-size: 15px;
            color: #848484;
        }

        .img {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    .accordionlist {
        padding: 0 100px 60px 100px;

        @include breakpoint (md1) {
            padding-left: 0;
            padding-right: 0;
        }

        @include breakpoint (sm1) {
            padding-bottom: 30px;
        }

        p {
            margin-bottom: 0;
            padding: 10px 0 0 0;
        }

        button {
            // display: block;
            position: relative;
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            // padding-right: 30px;
            outline: none;
            cursor: pointer;

            &:hover {
                color: #47b2e4;
            }
        }
    }

    span {
        color: #47b2e4;
        font-weight: 600;
        font-size: 18px;
        padding-right: 10px;
    }
}


