

#footer .footerTop {
    padding: 60px 0 30px 0;
    background: #fff;
}

#footer .footerTop .footerContact {
    margin-bottom: 30px;
}

#footer .footerTop .footerContact h3 {
    font-size: 28px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: #37517e;
}

#footer .footerTop .footerContact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Jost", sans-serif;
    color: #5e5e5e;
}

#footer .footerTop .footerContact p a {
    color: #5e5e5e;
}

#footer .footerTop .footerContact p a:hover {
    color: #47b2e4;
}

#footer .footerTop h4 {
    font-size: 16px;
    font-weight: bold;
    color: #37517e;
    position: relative;
    padding-bottom: 12px;
}

#footer .footerTop .footerLinks {
    margin-bottom: 30px;
}

#footer .footerTop .footerLinks ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footerTop .footerLinks ul i {
    padding-right: 2px;
    color: #47b2e4;
    font-size: 18px;
    line-height: 1;
}

#footer .footerTop .footerLinks ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footerTop .footerLinks ul li:first-child {
    padding-top: 0;
}

#footer .footerTop .footerLinks ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footerTop .footerLinks ul a:hover {
    text-decoration: none;
    color: #47b2e4;
}

#footer .footerTop .socialLinks a {
    font-size: 18px;
    display: inline-flex;
    background: #47b2e4;
    color: #fff;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
}

#footer .footerTop .socialLinks a:hover {
    background: #209dd8;
    color: #fff;
    text-decoration: none;
}

#footer .footerBottom {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}

#footer .copyright {
    float: left;
}

#footer .credits {
    float: right;
    font-size: 13px;
}

#footer .credits a {
    transition: 0.3s;
}

@media (max-width: 768px) {
    #footer .footerBottom {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #footer .copyright,
    #footer .credits {
        text-align: center;
        float: none;
    }

    #footer .credits {
        padding-top: 4px;
    }
}
