.whyUs_accordionlist__0o5Z6 .accordion-item,
.faq_faq__wppZf .accordion-item {
  border: none;
  padding: 20px;
}

.whyUs_accordionlist__0o5Z6 .accordion-item + .accordion-item,
.faq_faq__wppZf .accordion-item + .accordion-item {
  margin-top: 15px;
}
.whyUs_whyUs__zHDoB .whyUs_accordionlist__0o5Z6 button {
  background: #fff;
  outline: none;
  box-shadow: none;
  padding: 0;
}
.faq_faq__wppZf button[aria-expanded="true"],
.whyUs_whyUs__zHDoB .whyUs_accordionlist__0o5Z6 button[aria-expanded="true"] {
color: #47b2e4;
}
.faq_faq__wppZf .accordion-body,
.whyUs_whyUs__zHDoB .accordion-body {
  padding: 0;
}
